/* use command: rofi -dump-theme, to see all the variables */

* {
    font: "IosevkaNerdFont 12";
    background-color: transparent;
    adam-bg: #010007;
    adam-bg-alt: #050311;    
    adam-bg-select: #241a52;
    adam-fg: #eee7f0;
    adam-fg-select: #eee7f0;
    adam-border: #010004;
    adam-red: #f55b64;
    adam-green: #2b1a78;
    adam-highlight: #fa7bff;
    adam-highlight-select: #fa7bff;
}

window {
    background-color: @adam-bg;
    border-color: @adam-border;
    location: center;
    border: 4px;
}

scrollbar {
    handle-color: @adam-red;
}

inputbar,
prompt,
entry,
textbox
{
    text-color: @adam-fg;
    background-color: @adam-bg;
    border-colour: @adam-bg;
}

textbox {
    blink: true;
}

listview {
    lines: 24;
    columns: 1;
    border-color: @adam-green;
}

element-icon selected.normal,
element-icon selected.urgent,
element-icon selected.active,
element selected.normal,
element selected.urgent,
element selected.active,
element-text selected.normal,
element-text selected.urgent,
element-text selected.active {
    highlight: @adam-highlight-select;
    background-color: @adam-bg-select;
    text-color: @adam-fg-select;
}

element-icon normal.normal,
element-icon normal.urgent,
element-icon normal.active,
element normal.normal,
element normal.urgent,
element normal.active,
element-text normal.normal,
element-text normal.urgent,
element-text normal.active {
    highlight: @adam-highlight;
    background-color: @adam-bg;
    text-color: @adam-fg;
}

element-icon alternate.normal,
element-icon alternate.urgent,
element-icon alternate.active,
element alternate.normal,
element alternate.urgent,
element alternate.active,
element-text alternate.normal,
element-text alternate.urgent,
element-text alternate.active {
    highlight: @adam-highlight;
    background-color: @adam-bg-alt;
    text-color: @adam-fg;
}
